.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.filter > h2 {
  font-size: var(--sub-title-font-size);
}

.archiveLink {
  color: var(--weak-font-color);
}
