html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* todo: light theme toggle */
:root {
  --background-color: #0b0b0b;
  --title-color: #e8e8e8;
  --font-color: #dedede;
  --weak-font-color: #c2c1c1;
  --link-color: #9da2ff;
  --base-font-size: 16px;
}

body {
  color: var(--font-color);
  background: var(--background-color);
  font-size: var(--base-font-size);
  line-height: 1.5;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

ul,
ol {
  list-style-type: disc;
  list-style-position: inside;
}

* {
  box-sizing: border-box;
}
