.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.title {
  color: var(--title-color);
  font-size: var(--site-title-font-size);
  font-weight: bold;
  padding-bottom: 50px;
  border-bottom: 1px solid #484848;
}
