.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.title {
  color: var(--title-color);
  font-size: var(--site-title-font-size);
  font-weight: bold;
  padding: 50px 0;
  border-bottom: 1px solid var(--border-color);
}
