@import "tailwindcss";

/* todo: light theme toggle */
:root {
  --background-color: #0b0b0b;
  --header-color: rgba(11, 11, 11, 0.75);
  --border-color: #2f1010;
  --title-color: #e8e8e8;
  --font-color: #dedede;
  --weak-font-color: #c2c1c1;
  --link-color: #9da2ff;
  --logo-blue: #4b53cf;
  --warn-color: #c4af1a;
  --logo-gradation: linear-gradient(to bottom right, #4b53cf 0%, #cf6363 100%);
  --site-title-font-size: 50px;
  --title-font-size: 40px;
  --sub-title-font-size: 25px;
  --small-title-font-size: 20px;
  --base-font-size: 16px;
}

body {
  color: var(--font-color);
  background: var(--background-color);
  font-size: var(--base-font-size);
  line-height: 2;
}
