@import "tailwindcss";

@theme {
  --color-header: rgba(11, 11, 11, 0.75);
}

@layer base {
  body {
    color: var(--color-gray-300);
    background: var(--color-gray-950);
    line-height: 1.5;
  }
}

@layer components {
  .logo-text {
    @apply bg-gradient-to-br from-[#4b53cf] to-[#cf6363] bg-clip-text text-transparent;
  }
  
  .akfm-container {
    @apply container;
  }

  @media (max-width: 1020px) {
    .akfm-container {
      @apply px-5;
    }
  }

  .article {
    @apply flex flex-col gap-y-3;
  }

  .article > h2 {
    @apply text-2xl font-bold leading-16;
  }

  .article > h3 {
    @apply text-xl font-bold leading-12;
  }

  .article > ul {
    @apply list-disc list-inside;
  }

  .article > ol {
    @apply list-decimal list-inside;
  }

  .article > pre {
    @apply overflow-scroll p-5;
  }
}
