.header {
  background-color: var(--header-color);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 920px;
}

@media all and (max-width: 768px) {
  .headerInner {
    padding: 0 15px;
    width: 100%;
  }
}

.logoLink {
  background: var(--logo-blue);
  background: var(--logo-gradation);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: var(--sub-title-font-size);
  font-weight: bold;
  width: fit-content;
}

.headerMenu {
  display: flex;
  column-gap: 30px;
}

@media all and (max-width: 768px) {
  .headerMenu {
    column-gap: 15px;
  }
}

.headerMenuLink {
  color: var(--weak-font-color);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 60px;
  width: 920px;
}

@media all and (max-width: 768px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}
