.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;
  margin-bottom: 20px;
}

.postLink {
  font-size: var(--small-title-font-size);
  width: fit-content;
}

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.filter > h2 {
  font-size: var(--sub-title-font-size);
}

.archiveLink {
  color: var(--weak-font-color);
}
